.body{
    background-color: #FFFFFF;
    border: 1px #B3B8B9 solid;
    text-align: center;
    height: 812pt;
    width: 375pt;
    align-items: center;
}

.inscription{
    color:#20D9F3;
    font-family: 'Montserrat', sans-serif;
    font-size:35pt;
    margin-top: 10pt;
}

.logo{
    height:60pt;
    width: 60pt;
    margin-left: 306pt;
}

.bloc_one{
    display: flex;
    margin-top:78pt;
}
.bloc_two{
    display: flex;
    margin-top:101pt;
}

.mail{
    height: 45pt;
    width:45pt;
    margin-left: 20pt;
}

.key{
    height: 45pt;
    width:45pt;
    margin-left: 20pt;
}

.email{
    color:#B3B8B9;
    font-family: 'Montserrat', sans-serif;
    font-size:25pt;
    margin-left: 12pt;
}

.mdp{
    color:#B3B8B9;
    font-family: 'Montserrat', sans-serif;
    font-size:25pt;
    margin-left: 12pt;
}

.oublier{
    text-decoration: underline;
    color:#B3B8B9;
    font-family: 'Montserrat', sans-serif;
    font-size:20pt;
    margin-left: 133pt;
    margin-top: 53pt;
}

hr{
    margin-top: 3pt;
    width: 225pt;
    height:0.5pt;
    background-color: #707070;
    border: none;
}
.button{
    width: 111pt;
    height: 49pt;
    background-color: #20D9F3;
    color: #FFFFFF;
    border-radius: 20pt;
    font-size: 40pt;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50pt;
}

.button:hover{
    transform: scale(1.05);
    transition:0.3s transform;
}

.bloc_three{
    margin-left: 14pt;
    display: flex;
}
.switch{
    width:50pt ; 
    height: 50pt; 
}

.accepte{
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    color:#B1B5B5;
}

.conditions{
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    color:#20D9F3;
    text-align: left;
    margin-left: 13pt;
}

.info{
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    color:#B1B5B5;
    margin-top: 46pt;
}

.rond{
    border-radius: 50%;
    width:55pt;
    height:55pt;
    border: 1px #B3B8B9 solid;
    margin: 10pt;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    color:#B3B8B9;
}

.indications{
    display: flex;
    margin-left:37pt;
}